.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro div {
    border: 6px solid var(--blue);
    min-width: 45%;
    min-height: 400px;
    padding: 30px;
    margin: 5vmax;
    margin-top: 11vmax;
    margin-right: 45%;
}

.intro ul {
    padding: 10px 0px;
    display: flex;
}

.intro i {
    font-size: 25px;
    margin: 0px 5px;

}

.container2 {
    background-color: var(--purple);
    width: 100%;
    text-align: center;
    padding: 5%;
}

.container3 {
    text-align: center;
    padding: 20px;
    background-color: var(--purple);
}

.skill {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.skill div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--purple);
    padding: 5px;
}

.skill img {
    height: 45%;
    margin: 10px;
}

.container4 {
    padding: 20px 10px;
    text-align: center;
}

.resume {
    display: flex;
    justify-content: center;
}

.resume ul {
    width: 45%;
    margin: 40px 5%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.resume li {
    width: 95%;
    background-color: var(--dark);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: justify;
}

.container5 {
    background-color: var(--purple);
    width: 100%;
    padding: 60px 40px;
}

.container5 div{
    display: flex;
}

.container5 img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 20px;
}

.container {
    padding: 30px 5px;
    text-align: center;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: auto;
}

.contact div {
    background-color: rgb(36, 36, 36);
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
}

.address {
    max-width: 350px;
    min-width: 240px;
    width: 30%;
}

.sendmail {
    width: 60%;
    max-width: 750px;
}

.contact div div {
    background-color: rgb(83, 83, 83);
    width: 95%;
    border-radius: 10px;
    margin: 10px auto;
}

.contact input,
textarea {
    width: 46%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: rgb(83, 83, 83);
    margin: 10px;
    resize: none;
}

@media only screen and (max-width: 900px) {
    .contact input {
        width: 95%;
    }
}

@media only screen and (max-width: 600px) {
    .intro div {
        margin: 20px;
    }

    .skill img {
        height: auto;
        width: 55px;
    }

    .contact,
    .resume {
        flex-direction: column;
        padding: 5px;
    }

    .contact div,
    .contact input,
    .resume ul {
        width: 95%;
        margin: 10px auto;
    }
}