<head>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <div ng-include="'templates/coursel.htm'"></div>
    <div class="container2 justy">
        <div class="box1">
            <h3>About Me</h3>
            <h4>Hello!</h4>
            <p>"Perkenalkan, nama saya Wildan Abdurrasyid, orang biasa memanggil saya "Wildan". Saya adalah seorang
                pengembang di Indonesia yang memiliki minat dan keterampilan di Programming. Saya tinggal di Klaten, dan
                memiliki pengalaman dalam Teknologi Informasi. Saya memiliki keahlian dalam Programming dan Networking,
                dan telah Mengikuti berbagai pelatihan dalam bidang Teknologi Informasi. Saat ini saya adalah seorang
                mahasiswa di ITTS Tangerang Selatan. Saat ini saya fokus dengan Kuliah dan membuat proyek kecil-kecilan.
                Saat ini, saya memiliki portofolio desain web."</p>
            <p>"Saya percaya diri dengan keterampilan saya. Saya merupakan orang yang dapat bekerjasama dan mengutamakan
                tugas. Selain itu, saya juga berkomitmen untuk pengembangan diri dan terus belajar agar dapat
                meningkatkan keterampilan dan pengetahuan saya.”</p>
        </div>
        <div class="box2"></div>
    </div>
    <div class="container3" ng-controller="Quotes">
        <h3>Quotes</h3>
        <div class="direction">
            <button ng-click="prev()"> <span class="carousel-control-prev-icon"></span> </button>
            <button ng-click="next()"> <span class="carousel-control-next-icon"></span> </button>
        </div>
        <div id="quote">
            <div id="quotes">
                <div class="cards" ng-repeat="x in Quotes">
                    <h6>{{x.quote}}</h6>
                    <p>{{x.bye}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container4">
        <div class="box1"></div>
        <div class="box2"></div>
    </div>
    <div class="container5"></div>
</body>