<head>
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <div class="container">
        <h6>CONTACT</h6>
        <h4>Contact With Me</h4>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3953.6705308936557!2d110.61607677430517!3d-7.718455076472749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zN8KwNDMnMDYuNSJTIDExMMKwMzcnMDcuMiJF!5e0!3m2!1sid!2sid!4v1682472861837!5m2!1sid!2sid"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <ul>
            <li><a href=""><i class="bi bi-facebook"></i></a></li>
            <li><a href=""><i class="bi bi-twitter"></i></a></li>
            <li><a href=""><i class="bi bi-instagram"></i></a></li>
            <li><a href="https://facebook.com/wildan14ar"><i class="bi bi-linkedin"></i></a></li>
            <li><a href=""><i class="bi bi-discord"></i></a></li>
            <li><a href="https://github.com/wildan14ar"><i class="bi bi-github"></i></a></li>
        </ul>
        <div class="contact">
            <div class="address">
                <div>
                    <h5>Address</h5>
                    <p>Klaten, Umbulharjo, Gumulan, Klaten Tengah, Klaten Regency, Central Java 57417</p>
                </div>
                <div>
                    <h5>Number</h5>
                    <p>+62 878 - 2994 - 4395</p>
                </div>
                <div>
                    <h5>Gmail</h5>
                    <p>wildan1423ar@gmail.com <br> code14ar@gmail.com</p>
                </div>
                <div>
                    <h5>Sosial Media</h5>
                    <p>linkedin/Twitter/Instagram:<br>@wildan14ar</p>
                </div>
            </div>
            <div class="sendmail">
                <input type="text" placeholder="Enter Your Name">
                <input type="text" placeholder="Enter Your Number">
                <br><input type="email" placeholder="Enter Your Email">
                <input type="text" placeholder="Enter Your Subject">
                <br><textarea style="width: 95%; height: 300px; padding: 15px;"
                    placeholder="Type Your Message"></textarea>
                <br><input type="submit" value="send">
            </div>
        </div>
    </div>
</body>

</html>