<head>
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <div class="container">
        <h6>CONTACT</h6>
        <h4>Contact With Me</h4>
        <ul>
            <li><a href="https://facebook.com/wildan14ar"><i class="bi bi-facebook"></i></a></li>
            <li><a href=""><i class="bi bi-twitter"></i></a></li>
            <li><a href=""><i class="bi bi-instagram"></i></a></li>
            <li><a href=""><i class="bi bi-linkedin"></i></a></li>
            <li><a href=""><i class="bi bi-discord"></i></a></li>
            <li><a href="https://github.com/wildan14ar"><i class="bi bi-github"></i></a></li>
        </ul>
        <div class="contact">
            <div class="address">
                <div>
                    <h5>Address</h5>
                </div>
                <div>
                    <h5>Number</h5>
                </div>
                <div>
                    <h5>Gmail</h5>
                </div>
                <div>
                    <h5>Sosial Media</h5>
                    <p>linkedin/Twitter/Instagram:<br>@wildan14ar</p>
                </div>
            </div>
            <div class="sendmail">
                <input type="text" placeholder="Enter Your Name">
                <input type="text" placeholder="Enter Your Number">
                <br><input type="email" placeholder="Enter Your Email">
                <input type="text" placeholder="Enter Your Subject">
                <br><textarea style="width: 95%; height: 300px; padding: 15px;"
                    placeholder="Type Your Message"></textarea>
                <br><input type="submit" value="send">
            </div>
        </div>
    </div>
</body>

</html>
