<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="intro">
                <div>
                    <h2>Hello!</h2>
                    <h1>I'm <span style="color: blue;">WILDAN ABDURRASYID</span><br> a developer in Indonesian</h1>
                    <p>I am someone who pursues the IT field, especially programming and have a willingness to learn.</p>
                    <a href="https://drive.google.com/file/d/14Zl7vYNn2zKlVl9F1gu8DRlse5aVlFQi" download><input
                            class="btn btn-outline-primary" type="button" value="Download CV"></a>
                    <a href="#!Contact"><input class="btn btn-outline-primary" type="button" value="Hire Me"></a>
                    <ul>
                        <li><a href=""><i class="bi bi-facebook"></i></a></li>
                        <li><a href=""><i class="bi bi-twitter"></i></a></li>
                        <li><a href=""><i class="bi bi-instagram"></i></a></li>
                        <li><a href="https://facebook.com/wildan14ar"><i class="bi bi-linkedin"></i></a></li>
                        <li><a href=""><i class="bi bi-discord"></i></a></li>
                        <li><a href="https://github.com/wildan14ar"><i class="bi bi-github"></i></a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="carousel-item" style="background-image: url('img/porto.jpg');">
            <div class="carousel-caption">
                <h3>Youtube Channel</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('img/porto.jpg');">
            <div class="carousel-caption">
                <h3>My Portofolio</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('img/Youtube.png');">
            <div class="carousel-caption">
                <h3>About Me</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" style="height: 50px; margin-top: 40vmin;" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" style="height: 50px; margin-top: 40vmin;" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
