<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('img/porto.jpg');">
            <div class="carousel-caption">
                <h3>Welcome to My Website</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('img/Youtube.png');">
            <div class="carousel-caption">
                <h3>Youtube Channel</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('img/porto.jpg');">
            <div class="carousel-caption">
                <h3>My Portofolio</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('img/Youtube.png');">
            <div class="carousel-caption">
                <h3>About Me</h3>
                <p>We had such a great time in LA!</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" style="height: 50px; margin-top: 40vmin;" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" style="height: 50px; margin-top: 40vmin;" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
