<div style="text-align: left; text-align: justify; ">
    <div>
        <h5>About</h5>
        <p>I am someone who pursues the IT field, especially programming and have a willingness to learn.</p>
    </div>
    <div>
        <h5>Links</h5>
        <ul style="display: flex; padding: 0px;">
            <ul style="padding: 0px;">
                <a href="#">⋙Home</a><br>
                <a href="#!Portofolio">⋙Portofolio</a><br>
                <a href="#!About">⋙About</a><br>
                <a href="#!Experience">⋙Experience</a><br>
                <a href="#!Blog">⋙Blog</a><br>
                <a href="#!Project">⋙Project</a><br>
                <a href="#!Contact">⋙Contact</a><br>
            </ul>
            <ul>
                <a href="">⋙Youtube Channel</a><br>
                <a href="">⋙Github</a><br>
                <a href="">⋙Curriculum vitae</a><br>
                <a href="">⋙Instagram</a><br>
                <a href="">⋙Tiktok</a><br>
            </ul>
        </ul>
    </div>
    <div>
        <h5>Services</h5>
        <h6 style="display: flex; flex-direction: column;">
            <span>▣ Web Development</span>
            <span>▣ Python Programming</span>
            <span>▣ Basis Data</span>
            <span>▣ Routing Router</span>
        </h6>
    </div>
    <div>
        <h5>Have a Questions?</h5>
        <p>Klaten, Umbulharjo, Gumulan, Klaten Tengah, Klaten Regency, Central Java 57417</p>
        <p>+62 878 - 2994 - 4395</p>
        <p>wildan1423ar@gmail.com</p>
    </div>
</div>
<hr style="width: 90%; margin: 20px auto; height: 2px;">
<br>
<h5>Thanks for Attention to of all, I'm happy for You</h5>
<p>Copyright &copy; 2022. WILDAN ABDURRASYID</p>