<div style="text-align: left; text-align: justify; ">
    <div>
        <h5>About</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos inventore vel culpa facilis
            beatae, modi, fugit neque exercitationem laboriosam commodi expedita ipsam quae, quod quibusdam
            officiis! Exercitationem alias quaerat libero.</p>
    </div>
    <div>
        <h5>Links</h5>
        <ul style="display: flex; justify-content: space-between;">
            <ul>
                <a href="">Home</a>
                <a href="">Portofolio</a>
                <a href="">About</a>
                <a href="">Experience</a>
                <a href="">Contact</a>
                <a href="">Youtube</a>
            </ul>
            <ul>
                <a href="">Home</a>
                <a href="">Portofolio</a>
                <a href="">About</a>
                <a href="">Experience</a>
                <a href="">Contact</a>
                <a href="">Youtube</a>
            </ul>
        </ul>        
    </div>
    <div>
        <h5>Services</h5>
    </div>
    <div>
        <h5>Have a Questions?</h5>
    </div>
</div>
</div>
<hr style="width: 90%; margin: 20px auto; height: 2px;">
<br>
<h5>Thanks for Attention to of all, I'm happy for You</h5>
<p>Copyright &copy; 2022. WILDAN ABDURRASYID</p>