<div style="text-align: left; text-align: justify; ">
    <div>
        <h5>About</h5>
        <p>I am someone who pursues the IT field, especially programming and have a willingness to learn.</p>
    </div>
    <div>
        <h5>Links</h5>
        <ul style="display: flex; padding: 0px;">
            <ul style="padding: 0px;">
                <a href="#">⋙Home</a><br>
                <a href="#!Portofolio">⋙Portofolio</a><br>
                <a href="#!About">⋙About</a><br>
                <a href="#!Experience">⋙Experience</a><br>
                <a href="#!Blog">⋙Blog</a><br>
                <a href="#!Project">⋙Project</a><br>
                <a href="#!Contact">⋙Contact</a><br>
            </ul>
            <ul>
                <a href="https://www.youtube.com/channel/UCWVIDWsXlOw1DQxpH_mlhFw?sub_confirmation=1">⋙Youtube Channel</a><br>
                <a href="https://github.com/wildan14ar">⋙Github</a><br>
                <a href="https://drive.google.com/file/d/14Zl7vYNn2zKlVl9F1gu8DRlse5aVlFQi/view?usp=sharing">⋙Curriculum vitae</a><br>
                <a href="https://www.instagram.com/wildan14ar/">⋙Instagram</a><br>
                <a href="https://www.tiktok.com/@wildan14ar">⋙Tiktok</a><br>
                <a href="https://www.facebook.com/wildan14ar">⋙Facebook</a><br>
                <a href="https://twitter.com/Wildan14ar">⋙Twitter</a><br>
                <a href="https://www.linkedin.com/in/wildan14ar/">⋙LingkedIn</a><br>
            </ul>
        </ul>
    </div>
    <div>
        <h5>Services</h5>
        <h6 style="display: flex; flex-direction: column;">
            <span>▣ Web Development</span>
            <span>▣ Python Programming</span>
            <span>▣ Basis Data</span>
            <span>▣ Routing Router</span>
        </h6>
    </div>
    <div>
        <h5>Have a Questions?</h5>
    </div>
</div>
<hr style="width: 90%; margin: 20px auto; height: 2px;">
<br>
<h5>Thanks for Attention to of all, I'm happy for You</h5>
<p>Copyright &copy; 2022. WILDAN ABDURRASYID</p>
