<div class="mySlides"><a href=""><h1>Welcome to My Website</h1></a></div>
<div class="mySlides" style="background-image: url('img/porto.jpg');"><a href=""><h1>Portofolio</h1></a></div>
<div class="mySlides"><a href=""><h1>Youtube Channel</h1></a></div>
<div class="mySlides"><a href=""><h1>Projects</h1></a></div>
<div class="mySlides"><a href=""><h1>Blog</h1></a></div>
<div class="fornex">
    <div onclick="plusDivs(-1)">Forward</div>
    <div onclick="plusDivs(1)">Next</div>
</div>
<div class="indicator">
    <div class="demo" onclick="currentDiv(1)"></div>
    <div class="demo" onclick="currentDiv(2)"></div>
    <div class="demo" onclick="currentDiv(3)"></div>
    <div class="demo" onclick="currentDiv(4)"></div>
    <div class="demo" onclick="currentDiv(5)"></div>
</div>