<div ng-repeat="x in Projects | limitTo:4">
    <div class="card bg-dark" style="width: 250px; height: 320px; margin: 10px; border: 3px solid white; border-radius: 10px;">
        <img class="card-img-top" src="img/TIK.jpeg" alt="Card image">
        <div class="card-body d-grid">
            <h6 style="font-size: 17px;" class="card-title">{{x.title}}</h6>
            <p class="card-text">{{x.description}}</p>
            <a href="#" class="btn btn-primary btn-block">See Profile</a>
        </div>
    </div>
</div>
