<head>
    <link rel="stylesheet" href="css/Portofolio.css">
</head>
<body>
    <div class="container1">
        <div class="intro">
            <h2>Hello!</h2>
            <h1>I'm <span style="color: blue;">WILDAN ABDURRASYID</span><br> a developer in Indonesian</h1>
            <p>I am someone who pursues the IT field, especially programming and have a willingness to learn.</p>
            <a href=""><input class="btn btn-outline-primary" type="button" value="Download CV"></a>
            <a href=""><input class="btn btn-outline-primary" type="button" value="Hire Me"></a>
        </div>
    </div>
    <div class="container2">
        <h4>About Me</h4>
        <h5 style="color: rgb(2, 2, 1);">"Kelahiran tidak akan membuatmu sukses. Usahalah yang akan menentukan hasilnya"</h5>
        <p>"Perkenalkan, nama saya Wildan Abdurrasyid, orang biasa memanggil saya "Wildan". Saya adalah seorang pengembang di Indonesia yang memiliki minat dan keterampilan di Programming. Saya tinggal di Klaten, dan memiliki pengalaman dalam Teknologi Informasi. Saya memiliki keahlian dalam Programming dan Networking, dan telah Mengikuti berbagai pelatihan dalam bidang Teknologi Informasi. Saat ini saya adalah seorang mahasiswa di ITTS Tangerang Selatan. Saat ini saya fokus dengan Kuliah dan membuat proyek kecil-kecilan. Saat ini, saya memiliki portofolio desain web."</p>
        <p>"Saya percaya diri dengan keterampilan saya. Saya merupakan orang yang dapat bekerjasama dan mengutamakan tugas. Selain itu, saya juga berkomitmen untuk pengembangan diri dan terus belajar agar dapat meningkatkan keterampilan dan pengetahuan saya.”</p>
    </div>
    <div class="container4">
        <h4>My Resume</h4>
        <div class="resume">
            <ul style="border-top: 8px solid white; border-left: 8px solid white;">
                <label>CERTIFICATION</label>
                <li>
                    <h5>Hafalan Juz 30, 29 dan 1</h5>
                    <p>Setification Al-Qur'an Juz 1, 29 dan 30 di SMK IT Ihsanul Fikri</p>
                </li>
                <li>
                    <h5>Mikrotik MTCNA</h5>
                    <h6>2021</h6>
                    <p>Pelatihan dan Setification MTCNA di SMK IT Ihsanul Fikri saat Prakerin</p>
                </li>
                <li>
                    <h5>Linux server bersama Git Solution</h5>
                    <h6>2021</h6>
                    <p>Pelatihan Linux Server menggunakan Ubuntu bersama Git Solution di SMK IT Ihsanul Fikri saat Prakerin</p>
                </li>
                <li>
                    <h5>Python Pemprograman Dasar from GameLab</h5>
                    <h6>2021</h6>
                    <p>Pelatihan Python Programming bersama GameLab Indonesia di SMK IT Ihsanul Fikri saat Prakerin</p>
                </li>
            </ul>
            <ul style="border-bottom: 8px solid white; border-right: 8px solid white;">
                <label>EDUCATION</label>
                <li>
                    <h5>Institut Teknologi Tangerang Selatan</h5>
                    <h6>2022 - Prensent</h6>
                    <p>Yayasan Pendidikan Tangerang Selatan mendirikan kampus Institut Teknologi Tangerang Selatan. Institut Teknologi Tangerang Selatan (ITTS) merupakan perguruan tinggi swasta berlatar belakang Kampus IT.</p>
                </li>
                <li>
                    <h5>SMK IT Ihsanul Fikri</h5>
                    <h6>2019 - 2022</h6>
                    <p>Sekolah Menengah Kejuruan swasta yang terletak di Mangelang dengan jurusan Teknik Komputer dan Jaringan dengan sistem Pondok Pesantren</p>
                </li>
                <li>
                    <h5>SMP IT ALAM NURUL ISLAM</h5>
                    <h6>2016 - 2019</h6>
                    <p>SMPIT ALAM NURUL ISLAM adalah salah satu satuan pendidikan dengan jenjang SMP di Sidoarum, Kec. Godean, Kab. Sleman, Di Yogyakarta.</p>
                </li>
                <li>
                    <h5>SD IT ALAM Harapan Kita</h5>
                    <h6>2010 - 2016</h6>
                    <p>SD Alam Harapan Kita, Kabupaten Klaten adalah sebuah sekolah SD swasta yang beralamat di Jl. Samanhudi Timur Stasiun, Kab. Klaten.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container3">
        <h4>My Skills</h2>
        <div class="skill">
            <div><img src="img/office.png" alt="office"><h6>Office</h6></div>
            <div><img src="img/mtcna.png" alt="mikrotik"><h6>MTCNA</h6></div>
            <div><img src="img/html.png" alt="html"><h6>HTML</h6></div>
            <div><img src="img/css.png" alt="css"><h6>CSS</h6></div>
            <div><img src="img/js.png" alt="js"><h6>Java script</h6></div>
            <div><img src="img/python.png" alt="python"><h6>Python</h6></div>
            <div><img src="img/pyqt.png" alt="pyqt"><h6>PyQt</h6></div>
            <div><img src="img/git.png" alt="git"><h6>Git</h6></div>
            <div><img src="img/php.png" alt="php"><h6>PHP</h6></div>
            <div><img src="img/r.png" alt="r"><h6>R</h6></div>
            <div><img src="img/ubuntu.png" alt="ubuntu"><h6>Ubuntu</h6></div>
            <div><img src="img/angularjs.png" alt="AngularJS"><h6>AngularJS</h6></div>
            <div><img src="img/bootstrap.png" alt="Bootstrap"><h6>Bootstrap</h6></div>
        </div>
    </div>
    <div class="container4">
        <h4>Projects</h4>
        <div class="d-flex justify-content-center flex-wrap" ng-controller="listPB" ng-include="'templates/listPB.htm'"></div>
    </div>
    <div class="container5 d-flex justify-content-center flex-wrap">
        <img src="img/capture.jpg" alt="" srcset="">
        <h4>NEET (Not in Education, Employment or Training) <br> 95% of WHAT YOU DO IS THE RESULT OF HABIT</h4>
    </div>
    <div class="container">
        <h6>CONTACT</h6>
        <h4>Contact With Me</h4>
        <div class="contact">
            <div class="address">
                <div><h5>Address</h5><p>Klaten, Umbulharjo, Gumulan, Klaten Tengah, Klaten Regency, Central Java 57417</p></div>
                <div><h5>Number</h5><p>+62 878 - 2994 - 4395</p></div>
                <div><h5>Gmail</h5><p>wildan1423ar@gmail.com <br> code14ar@gmail.com</p></div>
                <div><h5>Sosial Media</h5><p>linkedin/Twitter/Instagram:<br>@wildan14ar</p></div>
            </div>
            <div class="sendmail">
                <input type="text" placeholder="Enter Your Name">
                <input type="text" placeholder="Enter Your Number">
                <br><input type="email" placeholder="Enter Your Email">
                <input type="text" placeholder="Enter Your Subject">
                <br><textarea style="width: 95%; height: 300px; padding: 15px;" placeholder="Type Your Message"></textarea>
                <br><input type="submit" value="send">
            </div>
        </div>
    </div>
    <footer>
        <hr style="width: 90%; margin: 20px auto;">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <br><h5>Thanks for Attention to of all, I'm happy for You</h5>
        <p>Copyright &copy; 2022. WILDAN ABDURRASYID</p>
    </footer>
</body>