<head>
    <link rel="stylesheet" href="css/Portofolio.css">
</head>

<body>
    <div class="intro">
        <div>
            <h2>Hello!</h2>
            <h1>I'm <span style="color: blue;">WILDAN ABDURRASYID</span><br> a developer in Indonesian</h1>
            <p>I am someone who pursues the IT field, especially programming and have a willingness to learn.</p>
            <a href="https://drive.google.com/file/d/14Zl7vYNn2zKlVl9F1gu8DRlse5aVlFQi" download><input
                    class="btn btn-outline-primary" type="button" value="Download CV"></a>
            <a href="#!Contact"><input class="btn btn-outline-primary" type="button" value="Hire Me"></a>
            <ul>
                <li><a href=""><i class="bi bi-facebook"></i></a></li>
                <li><a href=""><i class="bi bi-twitter"></i></a></li>
                <li><a href=""><i class="bi bi-instagram"></i></a></li>
                <li><a href="https://facebook.com/wildan14ar"><i class="bi bi-linkedin"></i></a></li>
                <li><a href=""><i class="bi bi-discord"></i></a></li>
                <li><a href="https://github.com/wildan14ar"><i class="bi bi-github"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="container2">
        <h4>About Me</h4>
        <h5 style="color: rgb(2, 2, 1);">"Kelahiran tidak akan membuatmu sukses. Usahalah yang akan menentukan hasilnya"
        </h5>
        <p>"Perkenalkan, nama saya Wildan Abdurrasyid, orang biasa memanggil saya "Wildan". Saya adalah seorang
            pengembang di Indonesia yang memiliki minat dan keterampilan di Programming. Saya tinggal di Klaten, dan
            memiliki pengalaman dalam Teknologi Informasi. Saya memiliki keahlian dalam Programming dan Networking, dan
            telah Mengikuti berbagai pelatihan dalam bidang Teknologi Informasi. Saat ini saya adalah seorang mahasiswa
            di ITTS Tangerang Selatan. Saat ini saya fokus dengan Kuliah dan membuat proyek kecil-kecilan. Saat ini,
            saya memiliki portofolio desain web."</p>
        <p>"Saya percaya diri dengan keterampilan saya. Saya merupakan orang yang dapat bekerjasama dan mengutamakan
            tugas. Selain itu, saya juga berkomitmen untuk pengembangan diri dan terus belajar agar dapat meningkatkan
            keterampilan dan pengetahuan saya.”</p>
    </div>
    <div class="container4">
        <h4>My Resume</h4>
        <div class="resume">
            <ul style="border-top: 8px solid white; border-left: 8px solid white;">
                <label>EXPERIENCE</label>
                <li>
                    <h5>Dicoding for University</h5>
                    <h6>2023</h6>
                    <p>Program Dicoding for University hadir untuk membantu mahasiswa/i Indonesia menjadi talenta
                        digital berkualitas dan dapat berkontribusi maksimal di industri IT melalui beasiswa kelas-kelas
                        favorit Dicoding.</p>
                </li>
                <li>
                    <h5>DBS Foundation Coding Camp 2023</h5>
                    <h6>2023</h6>
                    <p>Pelatihan Back-End Developer, Kurikulum disusun oleh Dicoding bersama AWS beserta pelaku industri
                        Back-End Development. Siswa dipersiapkan untuk menjadi Back-End Developer sesuai kebutuhan
                        industri.</p>
                </li>
                <li>
                    <h5>Praktek Kerja industri</h5>
                    <h6>2021</h6>
                    <p>Pelatihan dan Setification di SMK IT Ihsanul Fikri bersama dengan Git Solution, GameLab Indonesia
                        dan Mikrotik Academy. Dalam perlatihan tedapat materi Linux Server menggunakan Ubuntu, Python
                        Programming dan Mikrotik MTCNA. Pelatihan tersebut berlangsung selama 2 bulan.</p>
                </li>
                <li>
                    <h5>Hafalan Juz 30, 29 dan 1</h5>
                    <h6>2019 - 2022</h6>
                    <p>Setification Al-Qur'an Juz 1, 29 dan 30 di SMK IT Ihsanul Fikri untuk penunjang kelulusan di
                        sekolah Pondok Pesantren SMK IT Ihsanul Fikri.</p>
                </li>
            </ul>
            <ul style="border-bottom: 8px solid white; border-right: 8px solid white;">
                <label>EDUCATION</label>
                <li>
                    <h5>Institut Teknologi Tangerang Selatan</h5>
                    <h6>2022 - Prensent</h6>
                    <p>Yayasan Pendidikan Tangerang Selatan mendirikan kampus Institut Teknologi Tangerang Selatan.
                        Institut Teknologi Tangerang Selatan (ITTS) merupakan perguruan tinggi swasta berlatar belakang
                        Kampus IT.</p>
                </li>
                <li>
                    <h5>SMK IT Ihsanul Fikri</h5>
                    <h6>2019 - 2022</h6>
                    <p>Sekolah Menengah Kejuruan swasta yang terletak di Mangelang dengan jurusan Teknik Komputer dan
                        Jaringan dengan sistem Pondok Pesantren</p>
                </li>
                <li>
                    <h5>SMP IT ALAM NURUL ISLAM</h5>
                    <h6>2016 - 2019</h6>
                    <p>SMPIT ALAM NURUL ISLAM adalah salah satu satuan pendidikan dengan jenjang SMP di Sidoarum, Kec.
                        Godean, Kab. Sleman, Di Yogyakarta.</p>
                </li>
                <li>
                    <h5>SD IT ALAM Harapan Kita</h5>
                    <h6>2010 - 2016</h6>
                    <p>SD Alam Harapan Kita, Kabupaten Klaten adalah sebuah sekolah SD swasta yang beralamat di Jl.
                        Samanhudi Timur Stasiun, Kab. Klaten.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container3">
        <h4>My Skills</h2>
            <div class="skill">
                <div><img src="img/office.png" alt="office">
                    <h6>Office</h6>
                </div>
                <div><img src="img/mtcna.png" alt="mikrotik">
                    <h6>MTCNA</h6>
                </div>
                <div><img src="img/html.png" alt="html">
                    <h6>HTML</h6>
                </div>
                <div><img src="img/css.png" alt="css">
                    <h6>CSS</h6>
                </div>
                <div><img src="img/js.png" alt="js">
                    <h6>Java script</h6>
                </div>
                <div><img src="img/python.png" alt="python">
                    <h6>Python</h6>
                </div>
                <div><img src="img/pyqt.png" alt="pyqt">
                    <h6>PyQt</h6>
                </div>
                <div><img src="img/git.png" alt="git">
                    <h6>Git</h6>
                </div>
                <div><img src="img/php.png" alt="php">
                    <h6>PHP</h6>
                </div>
                <div><img src="img/r.png" alt="r">
                    <h6>R</h6>
                </div>
                <div><img src="img/ubuntu.png" alt="ubuntu">
                    <h6>Ubuntu</h6>
                </div>
                <div><img src="img/angularjs.png" alt="AngularJS">
                    <h6>AngularJS</h6>
                </div>
                <div><img src="img/bootstrap.png" alt="Bootstrap">
                    <h6>Bootstrap</h6>
                </div>
                <div><img src="img/sql.png" alt="sql">
                    <h6>sql</h6>
                </div>
            </div>
    </div>
    <div class="container4">
        <h4>Projects</h4>
        <div class="d-flex justify-content-center flex-wrap" ng-controller="listPB" ng-include="'templates/listPB.htm'">
        </div>
    </div>
    <div ng-controller="youtubeController" class="container5">
        <h4 style="margin-left: 25px;">Youtube Channel</h4>
        <div style="display: flex; align-items: center;">
            <div>
                <img ng-src="{{ channelLogo }}" alt="Logo Channel" style="width: 150px; height: auto;">
                <div style="display: flex; flex-direction: column; padding-top: 50px;">
                    <a href="https://www.youtube.com/channel/UCWVIDWsXlOw1DQxpH_mlhFw?sub_confirmation=1"><h2>{{ channelName }}</h2>
                    <p><span style="background-color: white; padding: 2px 5px; color: black;">{{ subscriberCount
                            }}</span><span style="background-color: red; padding: 2px 5px;">Subscribers</span></p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h6>CONTACT</h6>
        <h4>Contact With Me</h4>
        <div class="contact">
            <div class="address">
                <div>
                    <h5>Address</h5>
                    <p>Klaten, Umbulharjo, Gumulan, Klaten Tengah, Klaten Regency, Central Java 57417</p>
                </div>
                <div>
                    <h5>Number</h5>
                    <p>+62 878 - 2994 - 4395</p>
                </div>
                <div>
                    <h5>Gmail</h5>
                    <p>wildan1423ar@gmail.com <br> code14ar@gmail.com</p>
                </div>
                <div>
                    <h5>Sosial Media</h5>
                    <p>linkedin/Twitter/Instagram:<br>@wildan14ar</p>
                </div>
            </div>
            <div class="sendmail">
                <input type="text" placeholder="Enter Your Name">
                <input type="text" placeholder="Enter Your Number">
                <br><input type="email" placeholder="Enter Your Email">
                <input type="text" placeholder="Enter Your Subject">
                <br><textarea style="width: 95%; height: 300px; padding: 15px;"
                    placeholder="Type Your Message"></textarea>
                <br><input type="submit" value="send">
            </div>
        </div>
    </div>
    <footer style="background-color: var(--purple);" ng-include="'templates/footer.htm'"></footer>
</body>